[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = "*"
pylint = "*"
requests = "*"
pandas = "*"
cvxpy = "*"
cplex = "*"

[dev-packages]

[requires]
python_version = "3.10"
